html,body{
    margin: 0;
    padding: 0;
    font-family: Circular, spotify-circular, Helvetica, Arial, sans-serif;
}
header{
    background-color: black;
    height: 80px;
    width: 100%;
}
.icon img{
    width: 135px;
    padding-left:20px;
    padding-top:20px;
}

.head img{
    position: absolute;
}
header nav{
    height: 100%;
}
header nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    margin: auto;
    padding-top: 32px;
}
header nav ul li{
    padding-right: 25px;
    padding-left: 10px;
    color: white;
    font-size: 15px;
}
header nav ul li.menu{
    font-weight: bold;
}
header nav ul li:last-of-type{
    padding-right: 80px;
}
header nav ul li.menu:hover{
    color: #1ed760;
    cursor: pointer;
}
header nav ul li.bar:hover{
    cursor: default;
}


.fKGsDq {
    background-image: url("https://www-growth.scdn.co/static/home/bursts.svg");
    background-position: 46% 4%;
    -moz-box-pack: center;
    justify-content: center;
    min-height: 846px;
    background-size: 170%;
    background-position: 44% 7%;
    text-align: center;
    background-color: rgb(41, 65, 171);
    background-position: center top 30%;
    background-repeat: no-repeat;
    background-size: 195%;
    height: 100vh;
    text-align: center;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    flex-direction: column;
    -moz-box-pack: center;
    justify-content: center;
    overflow: hidden;
}
.iVbIbz {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: none;
    letter-spacing: normal;
  }
  .iVbIbz {
    box-sizing: border-box;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    background-color: transparent;
    border: 0px none;
    border-radius: 500px;
    display: inline-block;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    touch-action: manipulation;
    transition-duration: 33ms;
    transition-property: background-color, border-color, color, box-shadow, filter, transform;
    user-select: none;
    vertical-align: middle;
    transform: translate3d(0px, 0px, 0px);
    padding: 0px;
    align-self: center;
  }
.geFlmU {
    width: 800px;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 40px;
}
.jOucII {
    box-sizing: border-box;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    display: block;
    padding: 0px 0px 1em;
      padding-bottom: 1em;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    color: var(--text-bright-accent,#117a37);
  }


footer{
    color: white;
    background-color:#000;
    width:100%;
}
footer{
    display: flex;
    justify-content: space-evenly;
}
footer nav{
    display: flex;
    justify-content: center;
}
dt{
    color: #919496;
    font-size: 12px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: .08em;
    text-transform: uppercase;
    margin-bottom:30px;
}
dd{
    font-size: 16px;
    font-family: Circular,spotify-circular,Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
    padding: 3px 0 15px;
}
dd:hover{
    cursor:pointer;
    color: #1ed760;
}